# Basic Data Types and operations

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Composite-Data-Types" data-toc-modified-id="Composite-Data-Types-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Composite Data Types</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-reading" data-toc-modified-id="Further-reading-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Further reading</a></span></li></ul></div>

## Integers

In [ ]:
edad = 18

In [ ]:
lapso = 10

In [ ]:
edad_luego = edad + lapso

In [ ]:
edad_luego

In [ ]:
type(7)

In [ ]:
n = 5

In [ ]:
n

In [ ]:
type(n)

In [ ]:
n

## Floats

In [ ]:
type(0.7)

In [ ]:
type(3)

In [ ]:
type(3.0)

In [ ]:
4.5 + 9

In [ ]:
1 - 7.5

In [ ]:
3 * (3 + 1)

In [ ]:
10 ** 2

In [ ]:
2 ** 5

In [ ]:
2 ** 3

In [ ]:
1 / 8

In [ ]:
2 ** (-3)

In [ ]:
10 ** (-3)

In [ ]:
(-2) ** 3

In [ ]:
8 / 2

In [ ]:
22 / 5

In [ ]:
n = 12

In [ ]:
n / 5

In [ ]:
a = 3

In [ ]:
n ** a

In [ ]:
7 / 2 - n

In [ ]:
23 // 5

In [ ]:
22 / 5

In [ ]:
n = 8.0

In [ ]:
n + 10

In [ ]:
n + 2

In [ ]:
22 // 5

In [ ]:
22 % 5

In [ ]:
20 % 4 # resto

In [ ]:
for number in range(100):
    if number % 9 == 0:
        print(number)

In [ ]:
import time

In [ ]:
for i in range(100):
    # long process
    time.sleep(0.1)
    
    if i % 10 == 0:
        print(f"voy por {i}")

In [ ]:
abs(-5.5)

In [ ]:
abs(5.5)

In [ ]:
int(3.0)

In [ ]:
type(5.6)

In [ ]:
float("5.6")

In [ ]:
float("hola")

In [ ]:
round(6.77)

In [ ]:
round(6.77, 1)

In [ ]:
round(6.7785843, 4)

In [ ]:
import math

In [ ]:
math.floor(6.23)

In [ ]:
math.ceil(6.23)

In [ ]:
10 ** 4

In [ ]:
math.log10(100)

In [ ]:
math.log10(1000)

In [ ]:
math.log10(10000)

## Strings

In [ ]:
nombre = "juan"

In [ ]:
type(nombre)

In [ ]:
frase = "Estoy animado esta manana"

In [ ]:
nombre = 'Manuel'

In [ ]:
frase

In [ ]:
frase + nombre

In [ ]:
nombre

In [ ]:
nombre * 4

In [ ]:
nombre * 4.1

In [ ]:
nombre

In [ ]:
# check contains
"a" in nombre

In [ ]:
# check contains
"an" in nombre

In [ ]:
# check contains
"ana" in nombre

In [ ]:
len(nombre)

In [ ]:
len(frase)

In [ ]:
nombre.upper()

In [ ]:
nombre.lower()

In [ ]:
nombre

In [ ]:
nombre.endswith('o')

In [ ]:
nombre.isupper()

In [ ]:
# check all methods an object possesses
dir(nombre)

In [ ]:
[method for method in dir(nombre) if not method.startswith("__")]

In [ ]:
nombre.upper()

In [ ]:
# look for methods
nombre.*low*?

In [ ]:
# look for methods
nombre.*ac*?

In [ ]:
nombre = "arturo"

In [ ]:
nombre

In [ ]:
nombre.replace("t", "p")

In [ ]:
nombre.upper()

In [ ]:
nombre.capitalize()

In [ ]:
"b" in nombre

Slicing

In [ ]:
frase

In [ ]:
frase[3:10]

In [ ]:
frase[:10]

In [ ]:
frase[12:]

In [ ]:
frase

In [ ]:
type(frase)

In [ ]:
palabras = frase.split(" ")

In [ ]:
palabras

In [ ]:
chunks = frase.split("i")

In [ ]:
chunks

In [ ]:
type(palabras)

## Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [ ]:
tiene_entrada = False

In [ ]:
not tiene_entrada

In [ ]:
if tiene_entrada:
    print("pasa")
else:
    print("vete")

In [ ]:
n

In [ ]:
n > 5

In [ ]:
n > 6

In [ ]:
4 == 3 + 1

In [ ]:
4 == 3 + 2

In [ ]:
edad = 15

In [ ]:
edad > 18

In [ ]:
if edad > 18:
    print('mayor')
else:
    print('menor')

In [ ]:
edad

In [ ]:
(edad > 16) or (edad % 3 == 0)

In [ ]:
(edad > 16) or (edad % 4 == 0)

## Composite Data Types

### Lists

In [ ]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi"]

In [ ]:
type(nombres)

In [ ]:
nombres

In [ ]:
# list can be appended elements (vs tuple)
nombres.append("Jose")

Slicing

In [ ]:
nombres[1]

In [ ]:
nombres[1:3]

In [ ]:
nombres[:3]

In [ ]:
nombres[2:]

In [ ]:
# assign
nombres[0] = "Rafa R."

In [ ]:
nombres

In [ ]:
nombres.remove("Pepe")

In [ ]:
nombres

In [ ]:
nombres.remove("Jose")

In [ ]:
nombres

In [ ]:
nombres.reverse()

In [ ]:
nombres

In [ ]:
"Pepe" in nombres

In [ ]:
"Pepe" not in nombres

In [ ]:
"Sonia" in nombres

In [ ]:
equipos = ["RM", "Barca", "Zgz"]

In [ ]:
nombres + equipos

In [ ]:
equipos * 3

In [ ]:
len(nombres)

In [ ]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [ ]:
type(edades)

In [ ]:
min(edades)

In [ ]:
max(edades)

In [ ]:
edades.count(12)

In [ ]:
edades.count(13)

In [ ]:
nombres

In [ ]:
nombres.index("Sonia")

In [ ]:
nombres.sort()

In [ ]:
nombres

In [ ]:
edades.sort()

In [ ]:
edades

In [ ]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [ ]:
len(amigos_de_students)

In [ ]:
amigos_de_students[0]

In [ ]:
amigos_de_students[1]

In [ ]:
amigos_de_students[1][2].upper()

In [ ]:
nombres

### Tuples

vs Lists: not dynamic

In [15]:
edades = (12, 31, 55)

In [16]:
edades[0]

12

Tuples are inmutable: you cannot 
 - change its entries
 - append new values

In [17]:
edades[0] = 11

TypeError: 'tuple' object does not support item assignment

In [20]:
edades.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
len(edades)

3

In [13]:
mas_edades = (44, 45, 48)

In [23]:
edades + mas_edades

(12, 31, 55, 44, 45, 48)

In [7]:
list("weekend")

['w', 'e', 'e', 'k', 'e', 'n', 'd']

In [10]:
letteres = tuple("weekend")

In [11]:
letters

('w', 'e', 'e', 'k', 'e', 'n', 'd')

Slicing

In [12]:
letters[:4]

('w', 'e', 'e', 'k')

In [ ]:
# a function returning several objects will return them as a tuple
def upper_lower_capitalize(word):
    upper = word.upper()
    lower = word.lower()
    cap = word.capitalize()
    
    return upper, lower, cap

In [ ]:
upper_lower_capitalize("jUaNiTo")

Single element tuples:

In [1]:
my_tup = (7, )

In [5]:
type(my_tup)

tuple

In [4]:
len(my_tup)

1

Tuples:
 * Faster
 * Data cannot be modified

### Sets

 * Unordered
 * Unique elements

In [24]:
paises = ["France"] * 3 + ["Spain"] * 5 + ["US"] * 2

In [25]:
paises

['France',
 'France',
 'France',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'US',
 'US']

In [26]:
paises_unicos_yo = set(paises)

In [27]:
paises_unicos_yo

{'France', 'Spain', 'US'}

In [ ]:
type(paises_unicos_yo)

In [28]:
paises_unicos_yo.update({"Rusia", "Japón"})

In [29]:
paises_unicos_yo

{'France', 'Japón', 'Rusia', 'Spain', 'US'}

In [ ]:
paises_unicos_tu = {"Spain", "Ireland", "Italy", "Venezuela"}

In [ ]:
paises_unicos_tu

In [ ]:
paises_unicos_tu.union(paises_unicos_yo)

In [ ]:
paises_unicos_tu.intersection(paises_unicos_yo)

In [ ]:
paises_unicos_tu.difference(paises_unicos_yo)

In [ ]:
paises_unicos_tu.issubset(paises_unicos_yo)

In [ ]:
list(paises_unicos_tu)

In [ ]:
paises_unicos_tu.append("Canada")

In [ ]:
paises_unicos_tu.add("Zimbabwe")

In [ ]:
paises_unicos_tu

In [ ]:
paises_unicos_tu.add("Zimbabwe")

In [ ]:
paises_unicos_tu

In [ ]:
# lists, sets, tuples can contain arbitrary objects
# if same type, may not be the best containers

In [ ]:
cosas = [31, "pepe", True, (4, 5, 6)]

In [ ]:
cosas

In [ ]:
type(cosas)

In [ ]:
len(cosas)

In [ ]:
edades = [55, 66, 77]

In [ ]:
edades

In [ ]:
type(edades)

### Dictionaries

In [ ]:
# bad
manu = [31, "manuel", "Madrid", 1.84, False]

In [ ]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"]
}

In [ ]:
persona["age"]

In [ ]:
persona["name"]

In [ ]:
persona["name"] = "Manuel Lopez"

In [ ]:
persona

In [ ]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [ ]:
cities_population["Barcelona"]

In [ ]:
cities_population["Madrid"]

In [ ]:
cities_population["Paris"]

In [ ]:
persona.values()

In [ ]:
persona.keys()

In [ ]:
persona

## Summary

 * Lists and Dictionaries are used a lot.
 * Lists vs tuples (static, inmutable)
 * Sets have unique elements

## Further reading

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [ ]:
a = [1, 2]

In [ ]:
b = [1, 2]

In [ ]:
a == b

In [ ]:
a is b