In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
diccio_columnas = {"Content Rating": "content_rating", "Last Updated": "last_updated", "Current Ver": "current_ver", "Android Ver":"android_ver" }

In [5]:
df.rename(columns=diccio_columnas, inplace = True)
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,content_rating,Genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
columnas = list(df.columns)
columnas

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'content_rating',
 'Genres',
 'last_updated',
 'current_ver',
 'android_ver']

In [12]:
columns_mayus = [str(columna).upper() for columna in columnas]

In [13]:
df.columns = columns_mayus

In [14]:
df.head(2)

,APP,CATEGORY,RATING,REVIEWS,SIZE,INSTALLS,TYPE,PRICE,CONTENT_RATING,GENRES,LAST_UPDATED,CURRENT_VER,ANDROID_VER
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [ ]:
df.

In [21]:
dfwoCV = df.drop(["CURRENT_VER"], axis = 1)

In [22]:
df.head(0)

Empty DataFrame
Columns: [APP, CATEGORY, RATING, REVIEWS, SIZE, INSTALLS, TYPE, PRICE, CONTENT_RATING, GENRES, LAST_UPDATED, CURRENT_VER, ANDROID_VER]
Index: []

In [23]:
df.TYPE.unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [25]:
dfwoCV.head(1)

,APP,CATEGORY,RATING,REVIEWS,SIZE,INSTALLS,TYPE,PRICE,CONTENT_RATING,GENRES,LAST_UPDATED,ANDROID_VER
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",4.0.3 and up

In [27]:
dfwoCV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   APP             10841 non-null  object
 1   CATEGORY        10841 non-null  object
 2   RATING          9367 non-null   float64
 3   REVIEWS         10841 non-null  object
 4   SIZE            10841 non-null  object
 5   INSTALLS        10841 non-null  object
 6   TYPE            10840 non-null  object
 7   PRICE           10841 non-null  object
 8   CONTENT_RATING  10840 non-null  object
 9   GENRES          10841 non-null  object
 10  LAST_UPDATED    10841 non-null  object
 11  ANDROID_VER     10838 non-null  object
dtypes: float64(1), object(11)
memory usage: 1016.5+ KB

In [79]:
dfrating = dfwoCV

In [80]:
dfrating = dfrating.dropna(axis = 0, how="any")

In [81]:
def devuelve_entero(x):
    return int(x)

In [82]:
dfrating.isnull().sum()

APP               0
CATEGORY          0
RATING            0
REVIEWS           0
SIZE              0
INSTALLS          0
TYPE              0
PRICE             0
CONTENT_RATING    0
GENRES            0
LAST_UPDATED      0
ANDROID_VER       0
dtype: int64

In [83]:
dfrating["RATING"].apply(devuelve_entero)

0        4
1        3
2        4
3        4
4        4
        ..
10834    4
10836    4
10837    5
10839    4
10840    4
Name: RATING, Length: 9364, dtype: int64

In [84]:
dfrating.describe()

            RATING
count  9364.000000
mean      4.191702
std       0.515260
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max       5.000000

In [ ]:
round